{% extends 'layout.html' %}
{% block content %}

<nav class="navbar bg-light">
    <div class="container-fluid | py-2">
        <div class='dropdown | start-0 position-absolute | ps-2'>
            <form class="" role="" method='POST'>
                {{facilityFormSort.hidden_tag()}}
                <div class='input-group'>
                    {{facilityFormSort.facilitySortItem(class='input-group-text | bg-light | border border-dark')}}

                    {{facilityFormSort.submit(class='btn btn-outline-success')}}
                </div>
            </form>  
        </div>
        <p class="font-monospace | my-auto | text-center" style='width:100vw'>
            {%if title%}
            Currently Viewing : <span class="text-primary">"{{title}}"</span>
            {%else%}
            Currently Viewing : <span class="text-primary">All</span>
            {%endif%}
        </p>
        <form class="d-flex | end-0 position-absolute | pe-2" role="search" method="POST">
            {{facilSearchForm.hidden_tag()}}

            {{facilSearchForm.facilitySearchItem(class='form-control me-2')}}
    
            {{facilSearchForm.submit(class='btn btn-outline-success')}}
        </form>
    </div>
    <div class='mx-auto | text-center | text-muted | font-monospace'>
        {%if title%}
        <div class=''>
            <a href="{{url_for('facilitiesPage')}}">View All Facilities</a>
        </div>
        {%endif%}
    </div>
</nav>

<div class='mx-auto row' style='width:80%'>
    {%for facils in facilList%}
        <div class='mx-auto my-4 col-4'>
            <div class="card" id='cardExpand'>
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                    <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                    <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                    <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                        {%if facils.get_fac_status() == 'Available'%}
                            <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                        {%else%}
                        <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                        {%endif%}
                        <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                    </div>
                    <hr>
                    <nav class='row align-items-start'>
                        <form action="{{url_for('bookingPage')}}" method='POST'class='col-auto'>
                            <input type='submit' value='Book Now' class='btn btn-primary'>
                        </form>
                        {%if "User" in session%}
                            {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                            <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                <input type='submit' value='Edit' class='btn btn-success'>
                            </form>
                            
                            <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                            {%endif%}
                        {%endif%}
                    </nav>
                </div>
            </div>
        </div>

        <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class="modal-body">
                        <div class='card-body'>
                            <h3 class='card-title'>Facility Deletion</h3>
                            <h5 class='card-text'>Are you sure you want to delete?</h5>
                            <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                            <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                            <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                            <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                            <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                <input type='submit' value='Delete' class='btn btn-danger'>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class='mx-auto row' style='width:80%'>
    {%if facilIDList_searchPage%}
        {%for facils in facilIDList_searchPage%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilFacilityIDList_searchPage%}
        {%for facils in facilFacilityIDList_searchPage%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilLocationList_searchPage%}
        {%for facils in facilLocationList_searchPage%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilitySlotsList_searchPage%}
        {%for facils in facilitySlotsList_searchPage%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilityRatesList_searchPage%}
        {%for facils in facilityRatesList_searchPage%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}
</div>

<div class='mx-auto row' style='width:80%'>
    {%if facilityListAMKDisplay%}
        {%for facils in facilityListAMKDisplay%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilityListHGDisplay%}
        {%for facils in facilityListHGDisplay%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilityListMPDisplay%}
        {%for facils in facilityListMPDisplay%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilityListBDDisplay%}
        {%for facils in facilityListBDDisplay%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilityListSLDisplay%}
        {%for facils in facilityListSLDisplay%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

    {%if facilityListGMDisplay%}
        {%for facils in facilityListGMDisplay%}
            <div class='mx-auto my-4 col-4'>
                <div class="card" id='cardExpand'>
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1587960184060-aa880aabdd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" class="card-img-top" alt="..." style='height:5vw'>
                        <h3 class="card-title | text-primary | pt-2"><span class="h4 text-info">{{facils.get_fac_id()}}<span></h5>
                        <p class="card-text">Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span><br>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></p>
                        <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                            {%if facils.get_fac_status() == 'Available'%}
                                <p class='mb-0'>Facility Status : <span class='text-success'>{{facils.get_fac_status()}}</span></p>
                            {%else%}
                            <p class='mb-0'>Facility Status : <span class='text-danger'>{{facils.get_fac_status()}}</span></p>
                            {%endif%}
                            <p class='mb-0'>Facility Slots : <span>{{facils.get_fac_slots()}}</span><br>Facility Rates : $<span>{{facils.get_fac_rate()}}</span>/hour</p>
                        </div>
                        <hr>
                        <nav class='row align-items-start'>
                            <form action="" method='POST'class='col-auto'>
                                <input type='submit' value='Book Now' class='btn btn-primary'>
                            </form>
                            {%if "User" in session%}
                                {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                                <form action="{{url_for('editFacilities2', id = facils.get_uniqueID())}}" method='POST'class='col-auto'>
                                    <input type='submit' value='Edit' class='btn btn-success'>
                                </form>
                                
                                <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{facils.get_uniqueID()}}' style="width:25%">Delete</a>

                                {%endif%}
                            {%endif%}
                        </nav>
                    </div>
                </div>
            </div>

            <div class='modal fade' id='deleteModal_{{facils.get_uniqueID()}}' tabindex='-1' aria-labelledby='deleteModalLabel' aria-hidden='true'>
                <div class='modal-dialog'>
                    <div class='modal-content'>
                        <div class="modal-body">
                            <div class='card-body'>
                                <h3 class='card-title'>Facility Deletion</h3>
                                <h5 class='card-text'>Are you sure you want to delete?</h5>
                                <small class='font-monospace | text-muted'>Facilities once deleted cannot be recovered.</small>
                                <h5 class='font-monospace'>Facility ID : <span class='text-primary'>{{facils.get_uniqueID()}}</span></h5>
                                <h5 class='font-monospace'>Facility Type : <span class='text-primary'>{{facils.get_fac_amt()}}</span></h5>
                                <h5 class='font-monospace'>Facility Location : <span class='text-primary'>{{facils.get_fac_loc()}}</span></h5>
                                <form action="{{url_for('deleteFacilitiesDirect', id=facils.get_uniqueID())}}" method='POST' class='mt-3'>
                                    <input type='submit' value='Delete' class='btn btn-danger'>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%endif%}

</div>


<style>
    body {
        background: url('https://images.unsplash.com/photo-1508206661992-0a79b553e6d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }

    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
    display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
</style>


{% endblock %}