{% extends 'layout.html' %}
{% block content %}

<h1 class='text-center | mt-25 | mb-10 | p-4'>{{text}}</h1>
<!--nvm wait a moment-->
<!--is it fixed? yes, can we add a location selector up top? sure afk a lil-->
<div class='container py-3 | bg-light | rounded-3 border-dark border-2 border | mt-3 | mb-5'>
    <section>
        <form action="" method="post" class='container-sm'>
            {{formsBooking.hidden_tag()}}
            
            {{formsBooking.bookingFacilityID.label(class='text-dark | fs-4 | float-start | ms-2 | form-check-label')}}
            {%if formsBooking.bookingFacilityID.errors%}
            <div>
                {{formsBooking.bookingFacilityID(class='form-control | my-2 | border-danger')}}
            </div>
            {%for errors in formsBooking.bookingFacilityID.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formsBooking.bookingFacilityID(class='form-control | my-2')}}
            </div>
            {%endif%}

            {{formsBooking.bookingDate.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formsBooking.bookingDate.errors%}
            <div>
                {{formsBooking.bookingDate(class='form-control | my-2 | border-danger')}}
            </div>
            {%for errors in formsBooking.bookingDate.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formsBooking.bookingDate(class='form-control | my-2')}}
            </div>
            {%endif%}

            {{formsBooking.bookingTimeSlot.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formsBooking.bookingTimeSlot.errors%}
            <div>
                {{formsBooking.bookingTimeSlot(class='form-control | my-2 | border-danger')}}
            </div>
            {%for errors in formsBooking.bookingTimeSlot.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formsBooking.bookingTimeSlot(class='form-control | my-2', type='date')}}
            </div>
            {%endif%}
            
            <div class="text-center | my-4 mx-auto | " style='width:50%'>
                {{formsBooking.submit(class='btn btn-primary')}}
            </div>

            <h5 class="text-danger | text-center">Timeslot has been taken, please choose another</h5>
        </form>
    </section>
</div>

{% endblock %}