{%extends 'layout.html'%}
{%block content%}

<pre class="text-center pt-5">
    <p class="text-center">This shouldn't appear under normal circumstances.</p>
    /////////////////////////////////////////////////////////
    //                                                     //
    //                        -<strong>500</strong>-                        //
    //                                                     //
    //                       _oo0oo_                       //
    //                      o8888888o                      //
    //                      88" . "88                      //
    //                      (| -_- |)                      //
    //                      0\  =  /0                      //
    //                    ___/`---'\___                    //
    //                  .' \\|     |// '.                  //
    //                 / \\|||  :  |||// \                 //
    //                / _||||| -:- |||||- \                //
    //               |   | \\\  -  /// |   |               //
    //               | \_|  ''\---/''  |_/ |               //
    //               \  .-\__  '-'  ___/-. /               //
    //             ___'. .'  /--.--\  `. .'___             //
    //          ."" '<  `.___\_<|>_/___.' >' "".           //
    //         | | :  `- \`.;`\ _ /`;.`/ - ` : | |         //
    //         \  \ `_.   \_ __\ /__ _/   .-` /  /         //
    //     =====`-.____`.___ \_____/___.-`___.-'=====      //
    //                       `=---='                       //
    //                                                     //
    //                                                     //
    //     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     //
    //                                                     //
    //            佛祖保佑    永不宕机     永无BUG           //
    //            马到成功    佛智一切     高级祝福          //
    //                                                     //
    //                    无论如何都要成功！                 //
    //                   2023 到 2099 无错误                //
    /////////////////////////////////////////////////////////
    </pre>
    <p class='text-center | fs-4 | pt-3'>Return <a href={{url_for('home')}}>Home</a>?</p>

{%endblock%}