{% extends 'layout.html' %}
{% block content %}


{%if forgotPasswordFormCheck%}
<form action="" method="post" class='container-sm | py-2' novalidate>
    {{forgotPasswordFormCheck.hidden_tag()}}
    <div class="card border-primary  mx-auto" style="width:70%">
        <div class="card-header d-flex justify-content-center align-items-center">
            <div id="titleHeader" class="p-4 | ms-3 | text-primary">
                <h1 href=""class="fst-italic text-center"><u>ActivePlay</u></h1>
                <h3 class="text-dark text-center">Help! I forgot my password!</h3>
                <p class="text-dark">Enter your email and we'll send you a reset email.</p>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="text-center | text-primary | font-monospace | py-2 | bg-light">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="mx-auto | py-3" style="width:80%">
            {{forgotPasswordFormCheck.userEmail.label(class='text-dark | fs-4 | float-start')}}
            {%if forgotPasswordFormCheck.userEmail.errors%}
                <div class='my-2'>
                    {{forgotPasswordFormCheck.userEmail(class='form-control | border-danger')}}
                </div>
                {%for errors in forgotPasswordFormCheck.userEmail.errors%}
                    <span class='text-danger | float-end'>
                        {{errors}}
                    </span>
                {%endfor%}
            {%else%}
                <div class='my-2'>
                    <span class="input-group |" id="">
                        {{forgotPasswordFormCheck.userEmail(class='form-control')}}
                    </span>
                    
                </div>
            {%endif%}

            {{forgotPasswordFormCheck.submitVerified(class='btn btn-outline-success')}}
        </div>
        
    </div>
</form>
{%endif%}

{% endblock %}