{% extends 'layout.html' %}
{% block content %}

<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="text-center | text-info | bg-dark | py-1">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id='activePlayIndicators' class='carousel slide' data-bs-ride='carousel'>
        <div class='carousel-indicators'>
            <button type='button' data-bs-target='#activePlayIndicators' data-bs-slide-to='0' class='active' aria-current='true' aria-label='Slide 1'></button>
            <button type='button' data-bs-target='#activePlayIndicators' data-bs-slide-to='1' aria-label='Slide 2'></button>
            <button type='button' data-bs-target='#activePlayIndicators' data-bs-slide-to='2' aria-label='Slide 3'></button>
        </div>
        <div class='carousel-inner'>
            <div class='carousel-item active'>
                <img src="https://images.unsplash.com/photo-1623998021722-b934f73081df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="..." style='height:90vh'>
                <div class="carousel-caption mb-5 | text-start | position-absolute top-50 start-0 | bg-dark bg-opacity-50 | p-4 | rounded-end" style='width:50%'>
                    <p class='text-primary | fs-1 | fst-italic'>Convenient to Access</p>
                    <p class='fs-4'>A sport facility within a stone's throw. <br>Book a facility near you and play today!</p>
                </div>
            </div>
            <div class='carousel-item'>
                <img src="https://images.unsplash.com/photo-1546519638-68e109498ffc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1490&q=80" class="d-block w-100" alt="..." style='height:90vh'>
                <div class="carousel-caption mb-5 | text-start | position-absolute top-50 start-0 | bg-dark | bg-opacity-50 | p-4" style='width:50%'>
                    <p class='text-primary | fs-1 | fst-italic'>For Everyone</p>
                    <p class='fs-4'>A sport facility of every kind for everyone. <br>Enjoy your favourite sport with friends and family!</p>
                </div>
            </div>
            <div class='carousel-item'>
                <img src="https://images.unsplash.com/photo-1519672808815-bdd52bb3bd41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80" class="d-block w-100" alt="..." style='height:90vh'>
                <div class="carousel-caption mb-5 | text-start | position-absolute top-50 start-0 | bg-dark | bg-opacity-50 | p-4" style='width:50%'>
                    <p class='text-primary | fs-1 | fst-italic'>Cheap and Affordable</p>
                    <p class='fs-4'>A sport facility thats cheap to rent. <br>Book a facility without worrying about monetary issues!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div> 
        <h1 class="text-center text-light pt-3" id="quickScrollDestination">What's going on?</h1>
    </div>
    <div class=" row mx-2 py-3">
        {%with event = eventOthers[0]%}
        <div class='mx-auto col-4'>
            <div class="card" style="" id='cardExpand'>
                <div class="card-body">
                    <h5 class="card-title | text-primary">{{event.get_eventName()}}</h5>
                    <p class="card-text">{{event.get_eventDesc()}}</p>
                    <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                        <p class='mb-0'>Event Start Date : <span class='text-primary'>{{event.get_eventStartDate()}}</span></p>
                        <p class='mb-0'>Event End Date : <span class='text-primary'>{{event.get_eventDate()}}</span></p>
                        <p class='mb-0'>Event Location : <span>{{event.get_eventLocation()}}</span></p>
                        <p class='mb-0'>Event Venue : <span>{{event.get_eventVenue()}}</span></p>
                        <p class='mb-0'>Event Vacancy : <span>{{event.get_eventVacancy()}}</span></p>
                        <p class='mb-0'>Event ID : <span>{{event.get_eventID()}}</span></p>
                        <p class='mb-0'>Event Type : <span>{{event.get_eventType()}}</span></p>

                        {%if event.get_eventStatus() == 'Active'%}
                        <p class='mb-0'>Event Status : <span class='font-weight-bold' style='color:#70E300'>{{event.get_eventStatus()}}</span></p>
                        {%else%}
                        <p class='mb-0'>Event Status : <span class='text-muted'>{{event.get_eventStatus()}}</span></p>
                        {%endif%}

                    </div>
                    <hr>
                <nav class='row '> <!--change for loop-->
                    <a href="#" class='text-decoration-none btn btn-primary | mx-2' data-bs-toggle='modal' data-bs-target='#signUpModal_{{event.get_eventID()}}' style="width:25%">Sign Up</a>

                    {%if "User" in session%}
                    {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                    <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{event.get_eventID()}}' style="width:25%">Delete</a>

                    <form action="{{url_for('editEventDirect', id=event.get_eventID())}}" method='POST'class='col-auto'>
                        <input type='submit' value='Edit' class='btn btn-success'>
                    </form>
                    {%endif%}
                    {%endif%}
                </nav>
                </div>
            </div>
        </div>
        {%endwith%}
        {%with event = eventSports[0]%}
        <div class='mx-auto col-4'>
            <div class="card" style="" id='cardExpand'>
                <div class="card-body">
                    <h5 class="card-title | text-primary">{{event.get_eventName()}}</h5>
                    <p class="card-text">{{event.get_eventDesc()}}</p>
                    <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                        <p class='mb-0'>Event Start Date : <span class='text-primary'>{{event.get_eventStartDate()}}</span></p>
                        <p class='mb-0'>Event End Date : <span class='text-primary'>{{event.get_eventDate()}}</span></p>
                        <p class='mb-0'>Event Location : <span>{{event.get_eventLocation()}}</span></p>
                        <p class='mb-0'>Event Venue : <span>{{event.get_eventVenue()}}</span></p>
                        <p class='mb-0'>Event Vacancy : <span>{{event.get_eventVacancy()}}</span></p>
                        <p class='mb-0'>Event ID : <span>{{event.get_eventID()}}</span></p>
                        <p class='mb-0'>Event Type : <span>{{event.get_eventType()}}</span></p>

                        {%if event.get_eventStatus() == 'Active'%}
                        <p class='mb-0'>Event Status : <span class='font-weight-bold' style='color:#70E300'>{{event.get_eventStatus()}}</span></p>
                        {%else%}
                        <p class='mb-0'>Event Status : <span class='text-muted'>{{event.get_eventStatus()}}</span></p>
                        {%endif%}

                    </div>
                    <hr>
                <nav class='row '> <!--change for loop-->
                    <a href="#" class='text-decoration-none btn btn-primary | mx-2' data-bs-toggle='modal' data-bs-target='#signUpModal_{{event.get_eventID()}}' style="width:25%">Sign Up</a>

                    {%if "User" in session%}
                    {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                    <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{event.get_eventID()}}' style="width:25%">Delete</a>

                    <form action="{{url_for('editEventDirect', id=event.get_eventID())}}" method='POST'class='col-auto'>
                        <input type='submit' value='Edit' class='btn btn-success'>
                    </form>
                    {%endif%}
                    {%endif%}
                </nav>
                </div>
            </div>
        </div>
        {%endwith%}
        {%with event = eventLifestyle[0]%}
        <div class='mx-auto col-4'>
            <div class="card" style="" id='cardExpand'>
                <div class="card-body">
                    <h5 class="card-title | text-primary">{{event.get_eventName()}}</h5>
                    <p class="card-text">{{event.get_eventDesc()}}</p>
                    <div class='p-2 | bg-light border-secondary border-2 border rounded'>
                        <p class='mb-0'>Event Start Date : <span class='text-primary'>{{event.get_eventStartDate()}}</span></p>
                        <p class='mb-0'>Event End Date : <span class='text-primary'>{{event.get_eventDate()}}</span></p>
                        <p class='mb-0'>Event Location : <span>{{event.get_eventLocation()}}</span></p>
                        <p class='mb-0'>Event Venue : <span>{{event.get_eventVenue()}}</span></p>
                        <p class='mb-0'>Event Vacancy : <span>{{event.get_eventVacancy()}}</span></p>
                        <p class='mb-0'>Event ID : <span>{{event.get_eventID()}}</span></p>
                        <p class='mb-0'>Event Type : <span>{{event.get_eventType()}}</span></p>

                        {%if event.get_eventStatus() == 'Active'%}
                        <p class='mb-0'>Event Status : <span class='font-weight-bold' style='color:#70E300'>{{event.get_eventStatus()}}</span></p>
                        {%else%}
                        <p class='mb-0'>Event Status : <span class='text-muted'>{{event.get_eventStatus()}}</span></p>
                        {%endif%}

                    </div>
                    <hr>
                <nav class='row '> <!--change for loop-->
                    <a href="#" class='text-decoration-none btn btn-primary | mx-2' data-bs-toggle='modal' data-bs-target='#signUpModal_{{event.get_eventID()}}' style="width:25%">Sign Up</a>

                    {%if "User" in session%}
                    {%if session.User[0] == 'Administrator' and session.User[1] == '0000000'%}
                    <a href="#" class='text-decoration-none btn btn-danger | mx-2' data-bs-toggle='modal' data-bs-target='#deleteModal_{{event.get_eventID()}}' style="width:25%">Delete</a>

                    <form action="{{url_for('editEventDirect', id=event.get_eventID())}}" method='POST'class='col-auto'>
                        <input type='submit' value='Edit' class='btn btn-success'>
                    </form>
                    {%endif%}
                    {%endif%}
                </nav>
                </div>
            </div>
        </div>
        {%endwith%}
    </div>
</section>

{% endblock %}