{% extends 'layout.html' %}
{% block content %}
<div class="mx-auto my-3 | rounded-3 border-dark border-2 border" style='width:80%'>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1629901925121-8a141c2a42f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="my-5 py-5 | bg-light">
            <form action="" method="post" class='container-sm'>
            {{ form.hidden_tag() }}

            {{form.loginField.label(class='text-dark | fs-4 | float-start')}}
            {%if form.loginField.errors%}
            <div class='input-group | my-2 | dropdown'>
                {{form.loginField(class='form-control | border-danger')}}
            </div>
            {%for errors in form.loginField.errors%}
                <span class='text-danger | float-end'>
                    {{errors}}
                </span>
            {%endfor%}
            {%else%}
            <div class='input-group | my-2 | dropdown'>
                {{form.loginField(class='form-control')}}
            </div>
            {%endif%}

            {{form.password.label(class='text-dark | fs-4 | float-start')}}
            {%if form.password.errors%}
                <div class='input-group | my-2'>
                    {{form.password(class='form-control | border-danger')}}
                </div>
            {%for errors in form.password.errors%}
                <span class='text-danger | float-end'>
                    {{errors}}
                </span>
            {%endfor%}
            {%else%}
                <div class='input-group | my-2'>
                    {{form.password(class='form-control')}}
                </div>
            {%endif%}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="text-center | text-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <div class="text-center | pt-2">
            {{form.remember(class='form-check-input')}}
            {{form.remember.label(class='form-check-label')}}
        </div>

        <div class="text-center | my-4">
            {{ form.submit(class = 'btn btn-primary') }}
            <input type='reset' class='btn btn-danger'>
        </div>
    </form>
    <div class="text-center">
        <small>
            <a href="{{url_for('forgetPassword')}}" class="text-muted">Forgot Password?</a>
        </small>
        <br>
        <small>
            Need An Account? <a href="{{ url_for('register') }}"> Sign Up </a>
        </small>
    </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
    display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
</style>
{% endblock %}

