{%extends 'layout.html'%}
{%block content%}

<section>
    <nav class="navbar bg-light">
        <div class="container-fluid | py-2">
        <div class='row'>
            {%if "User" in session%}
                <form action="{{url_for('account', user=session.User)}}" method='POST'  class='text-decoration-none | font-monospace | col-auto | mx-3 | border-0'>
                    <input type='submit' value='Overview' class='border-0 | bg-light | text-primary'> <br>
                </form>
            {%endif%}
            <a href="{{url_for('bookingHistory')}}" class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Booking History</a>
            <a href="{{url_for('eventRegistered')}}" class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Event History</a>
            <a href='#' class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Payment Methods</a>
            <a href='#' class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Settings</a>
    </nav>
    <div class='mx-auto my-2 py-2 | bg-light' style='width:80%'>
        <small class='text-muted | font-monospace | ms-3'>To change information, click on item!</small>
        <div class='p-4'>
            <h3 class='text-secondary'>Account Information</h3>
            <p class='fs-4'>Username : <span class='text-primary | font-monospace | ms-2 me-4'>@{{session.User[0]}}</span> 
                            ID : <span class='text-primary | font-monospace | ms-2 me-4'>{{session.User[1]}}</span>
            </p>
            {%if session.User[0] == 'Administrator' and session.User[1] == "0000000"%}
            <p class='fs-4'>First Name : <span class='text-primary | font-monospace | ms-2 me-4'>Admin</span> 
                            Last Name : <span class='text-primary | font-monospace | ms-2 me-4'>-</span>
            </p>
            {%else%}
            <p class='fs-4'>First Name : <span class='text-primary | font-monospace | ms-2 me-4'>{{session.User[3]}}</span> 
                            Last Name : <span class='text-primary | font-monospace | ms-2 me-4'>{{session.User[4]}}</span>
            </p>
            <p class='fs-4'>Date Joined : <span class='text-primary | font-monospace | ms-2 me-4'>{{session.User[6]}}</span> 
                            <!--In case of adding more information, use this line first-->
            </p>
            <h3 class='text-secondary'>Account Contact Details</h3>
            <p class='fs-4'>
                Email : <span class='text-primary | font-monospace | ms-2 me-4'>{{session.User[2]}}</span>
            </p>
            <p class='fs-4'>
                Phone Number : <span class='text-primary | font-monospace | ms-2 me-4'>{{session.User[5]}}</span>
            </p>
            {%endif%}
        </div>
        <a href="#" class='text-decoration-none btn btn-danger' data-bs-toggle='modal' data-bs-target='#logoutModal' style="width:10%">
            Log Out
        </a>   
        <a href="{{url_for('changeUserDetails', id=session.User[1])}}" class='text-decoration-none btn btn-outline-primary' style="width:10%">
            Change Details
        </a>  
        <a href="{{url_for('changeUserPassword', id=session.User[1])}}" class='text-decoration-none btn btn-outline-primary' style="width:10%">
            Change Password
        </a> 
        <div class='modal fade' id='logoutModal' tabindex='-1' aria-labelledby='logoutModalLabel' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class="modal-body">
                        <div class='card-body'>
                            <h5 class='card-text'>Confirm Log Out?</h5>
                            <form action="{{url_for('logout')}}" method='POST'class='my-2'>
                                <input type='submit' value='Log out' class='btn btn-danger'>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}