{%extends 'layout.html'%}
{%block content%}

<section>
    <nav class="navbar bg-light">
        <div class="container-fluid | py-2">
            <div class='row'>
                {%if "User" in session%}
                    <form action="{{url_for('account', user=session.User)}}" method='POST'  class='text-decoration-none | font-monospace | col-auto | mx-3 | border-0'>
                        <input type='submit' value='Overview' class='border-0 | bg-light'> <br>
                    </form>
                {%endif%}
                <a href="{{url_for('bookingHistory')}}" class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Booking History</a>
                <a href="{{url_for('eventRegistered')}}" class='text-decoration-none | font-monospace | col-auto | mx-3'>Event History</a>
                <a href='#' class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Payment Methods</a>
                <a href='#' class='text-decoration-none | font-monospace text-dark | col-auto | mx-3'>Settings</a>  
            </div>
        </div>
    </nav>

    <div class='mx-auto my-2 py-2 | bg-light' style='width:80%'>
        <div class='p-3'>
            <h3 class='text-light text-center bg-dark bg-gradient py-3 rounded'>Registered Events</h3>
            <table class='table table-striped'>
                <thread class='row'>
                    <tr>
                        <th>
                            <p class='text-primary | font-monospace | fs-4 | mb-0' scope='col'>Event ID</p>
                        </th>
                        <th>
                            <p class='text-primary | font-monospace | fs-4 | mb-0' scope='col'>Event Name</p>
                        </th>
                        <th>
                            <p class='text-primary | font-monospace | fs-4 | mb-0' scope='col'>Event Type</p>
                    <tr>
                </thread>
                <tbody>
                    <tr>
                        <td scope='col'>
                            {%for events in registeredEventList%}
                                <p class='fs-4 | font-monospace | mb-0'>{{events}}</p>
                            {%endfor%}
                        </td>
                        <td>
                            {%for name in registeredEventName%}
                                <p class='fs-4 | font-monospace | mb-0'>{{name}}</p>
                            {%endfor%}
                        </td>
                        <td>
                            {%for type in registeredEventType%}
                                <p class='fs-4 | font-monospace | mb-0'>{{type}}</p>
                            {%endfor%}
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    
</section>


{%endblock%}