{% extends 'layout.html' %}
{% block content %}

<h1 class='text-center | py-3'>
    Edit Events
</h1>
<div class='container | py-3 | bg-light border-dark border-2 border rounded-3 | my-3 '>
    <section>
        <form action="" method="post" class='container-sm' novalidate>
            {{formEvents.hidden_tag()}}

            {{formEvents.editEventName.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formEvents.editEventName.errors%}
                <div>
                    {{formEvents.editEventName(class='form-control | border-danger | my-2')}}
                </div>
                {%for errors in formEvents.editEventName.errors%}
                    <span class='text-danger | float-end'>{{errors}}</span>
                {%endfor%}
            {%else%}
            <div>
                {{formEvents.editEventName(class='form-control | my-2')}}
            </div>
            {%endif%}

            {{formEvents.editEventDesc.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formEvents.editEventDesc.errors%}
                <div>
                    {{formEvents.editEventDesc(class='form-control | border-danger | my-2')}}
                </div>
                {%for errors in formEvents.editEventDesc.errors%}
                    <span class='text-danger | float-end'>{{errors}}</span>
                {%endfor%}
            {%else%}
                <div>
                    {{formEvents.editEventDesc(class='form-control | my-2')}}
                </div>
            {%endif%}

            {{formEvents.editEventVacancy.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formEvents.editEventVacancy.errors%}
            <div>
                {{formEvents.editEventVacancy(class='form-control | border-danger | my-2')}}
            </div>
            {%for errors in formEvents.editEventVacancy.errors%}
                <span class='text-danger | float-end |'>{{errors}}</span>
            {%endfor%}
            {%else%}
            <div>
                {{formEvents.editEventVacancy(class='form-control | my-2')}}
            </div>
            {%endif%}

            <div class=''>
                <div class='d-flex mt-3'>
                    <div class='mx-auto' style='width:50%'>
                        {{formEvents.editEventStartDate.label(class='text-dark | fs-4 | float-start | ms-2')}}
                        {%if formEvents.editEventStartDate.errors%}
                            <div>
                                {{formEvents.editEventStartDate(class='form-control | my-2 | border-danger')}}
                            </div>
                        {%for errors in formEvents.editEventStartDate.errors%}
                            <span class='text-danger | float-end'>{{errors}}</span>
                        {%endfor%}
                        {%else%}
                            <div>
                                {{formEvents.editEventStartDate(class='form-control | my-2')}}
                            </div>
                        {%endif%}
                    </div>
                    <div class='mx-auto' style='width:40%'>
                        {{formEvents.editEventStartDateTime.label(class='text-dark | fs-4 | float-start | ms-2')}}
                        {%if formEvents.editEventStartDateTime.errors%}
                            <div>
                                {{formEvents.editEventStartDateTime(class='form-control | my-2 | border-danger')}}
                            </div>
                        {%for errors in formEvents.editEventStartDateTime.errors%}
                            <span class='text-danger | float-end'>{{errors}}</span>
                        {%endfor%}
                        {%else%}
                            <div>
                                {{formEvents.editEventStartDateTime(class='form-control | my-2')}}
                            </div>
                        {%endif%}
                    </div>
                </div>
    
                <div class='d-flex mb-2'>
                    <div class='mx-auto' style='width:50%'>
                        {{formEvents.editEventDate.label(class='text-dark | fs-4 | float-start | ms-2')}}
                        {%if formEvents.editEventDate.errors%}
                            <div>
                                {{formEvents.editEventDate(class='form-control | my-2 | border-danger')}}
                            </div>
                        {%for errors in formEvents.editEventDate.errors%}
                            <span class='text-danger | float-end'>{{errors}}</span>
                        {%endfor%}
                        {%else%}
                            <div>
                                {{formEvents.editEventDate(class='form-control | my-2')}}
                            </div>
                        {%endif%}
                    </div>
                    <div class='mx-auto' style='width:40%'>
                        {{formEvents.editEventDateTime.label(class='text-dark | fs-4 | float-start | ms-2')}}
                        {%if formEvents.editEventDateTime.errors%}
                            <div>
                                {{formEvents.editEventDateTime(class='form-control | my-2 | border-danger')}}
                            </div>
                        {%for errors in formEvents.editEventDateTime.errors%}
                            <span class='text-danger | float-end'>{{errors}}</span>
                        {%endfor%}
                        {%else%}
                            <div>
                                {{formEvents.editEventDateTime(class='form-control | my-2')}}
                            </div>
                        {%endif%}
                    </div>
                </div>
            </div>

            {{formEvents.editEventType.label(class='text-dark | fs-4 | float-start | ms-2 | form-check-label')}}
            <br>
            <div class='start-0' style='width:25%'>
                {{formEvents.editEventType(class='fs-4 | form-check form-check-inline  | list-unstyled')}}
            </div>

            {{formEvents.editEventLocation.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formEvents.editEventLocation.errors%}
                <div>
                    {{formEvents.editEventLocation(class='form-control | my-2 | border-danger')}}
                </div>
                {%for errors in formEvents.editEventLocation.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
                {%endfor%}
            {%else%}
                <div>
                    {{formEvents.editEventLocation(class='form-control | my-2')}}
                </div>
            {%endif%}

            {{formEvents.editEventVenue.label(class='text-dark | fs-4 | float-start | ms-2')}}
            {%if formEvents.editEventVenue.errors%}
                <div>
                    {{formEvents.editEventVenue(class='form-control | my-2 | border-danger')}}
                </div>
                {%for errors in formEvents.editEventVenue.errors%}
                <span class='text-danger | float-end'>{{errors}}</span>
                {%endfor%}
            {%else%}
                <div>
                    {{formEvents.editEventVenue(class='form-control | my-2')}}
                </div>
            {%endif%}

            {{formEvents.editEventStatus.label(class='text-dark | fs-4 | float-start | ms-2')}}
            <div>
                {{formEvents.editEventStatus(class='form-control | my-2')}}
            </div>

            <div class="text-center | my-4 mx-auto | " style='width:50%'>
                {{formEvents.submit(class='btn btn-primary')}}
            </div>
        </form>
    </section>
</div>

{% endblock %}