{% extends 'layout.html' %}
{% block content %}

<h1 class='text-center | py-3'>
    Create Events
</h1>
<div class='container | py-3 | bg-light border-dark border-2 border rounded-3 | my-3 '>
    <section>
        <form action="" method="post" class='container-sm' novalidate>
            {{formEvents.hidden_tag()}}

            {{formEvents.eventLocation.label(class='text-dark | fs-4 | float-start | ms-2')}}
            <div>
                {{formEvents.eventLocation(class='form-control | my-2')}}
            </div>

            <div class="text-center | my-4 mx-auto | " style='width:50%'>
                {{formEvents.submit(class='btn btn-primary')}}
            </div>
        </form>
    </section>
</div>

{% endblock %}